body {
  background: url('https://phonoteka.org/uploads/posts/2021-06/thumbs/1623899556_27-phonoteka_org-p-patterni-linii-krasivo-32.jpg');
}
.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 1000px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 100px rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.post {
  text-align: center;
  margin-bottom: 30px;
  h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .post__flexRow {
    display: flex;
    img {
      width: 330px;
      height: 400px;
      object-fit: cover;
    }
    .post__block {
      padding: 20px;
      h3 {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }
  }
}

.commentsFlex {
  display: flex;
  flex-wrap: wrap;
  .comment {
    max-width: 333px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .last {
      flex: 1 1 auto;
    }
  }
  .comment__card {
    background-color: rgba($color: white, $alpha: 0.6);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
  }
}
